/*
Author: Rutik Bhoyar
Index:
1.Basic Setup
2.header css
3.home section css
4.features section
5.product section 
6.category section
7.review section
8.blog section
9.media queries
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    background: #26282f 0% 0% no-repeat padding-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3ren;
    font-size: 3.5rem;
    color: #fff;
}

.heading span {
    background: transparent linear-gradient(116deg, #E59132 0%, #B59F55 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background:transparent linear-gradient(116deg, #E59132 0%, #B59F55 100%) 0% 0% no-repeat padding-box !important;
    color: #fff;
    cursor: pointer;
    /* background: none; */
}

.btn:hover {
    /* box-shadow: #ff7800; */
    box-shadow: 0 5px 15px 0  rgba(255, 200, 3, 0.84);
}

/*------Header Section CSS------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: #26282f 0% 0% no-repeat padding-box;
    /* box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 1); */
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
}

.header .logo i {
    color: rgba(255, 200, 3, 0.84);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #fff;
}

.header .navbar a:hover {
    color: rgba(255, 200, 3, 0.84);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: #26282f;
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    background: rgba(255, 200, 3, 0.84);
    color: #fff;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #14141b 0% 0% no-repeat padding-box;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 1);
}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: #fff;
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: #fff;
    cursor: pointer;
}


.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart {
    position: absolute;
    width: 35rem;
    box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 1);
    background: #fff;
    padding: 1rem;
    top: 110%;
    right: -110%;
    border-radius: .5rem;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: #666;
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: rgba(255, 200, 3, 0.84);
}

.header .shopping-cart .box .content h3 {
    color: #fff;
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: #fff;
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: #fff;
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;
}

.header .login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 35rem;
    box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 1);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}

.header .login-form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
}

.header .login-form .box {
    width: 100%;
    margin: 7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: #fff;
    text-transform: none;
}

.header .login-form p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: #666;
}

.header .login-form p a {
    color: rgba(255, 200, 3, 0.84);
    text-decoration: underline;
}


/*----------Header Section CSS Ends-----------------*/


/*--------Home Section CSS-------------------------*/

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url("https://media.gettyimages.com/photos/athlete-running-picture-id636887598?k=20&m=636887598&s=612x612&w=0&h=kD4zN9jRLs9qDsCzeRhHtiBymfpBWmnaWrMDCB3oCqc="); */
    /* background: url("https://media.gettyimages.com/photos/soccer-player-kicking-ball-picture-id500240235?k=20&m=500240235&s=612x612&w=0&h=SFqFEHSDwroL7Zk5sUweP3z8AJhV4wASCvTYu3ZhsR4="); */
    /* background: url("https://cdn.pixabay.com/photo/2016/05/20/21/57/football-1406106__340.jpg"); */
    background: url("https://cdn.pixabay.com/photo/2016/05/20/21/57/football-1406106__340.jpg");
    background-position: center;
    background-size:contain;
    /* background-size:cover; */
    padding-top: 17rem;
    padding-bottom: 5rem;
    height: 44rem;
    /* margin-top: 23rem; */
}
.home .content {
    padding-top: 17rem;
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    color: #fff;
    font-size: 3rem;
}

.home .content h3 span {
    color: rgba(255, 200, 3, 0.84);
}

.home .content p {
    color: #fff;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}


/*-------Home Section CSS ends---------------*/


/*---------Features section---------------------------*/

/*------------Feature Section CSs Ends--------------*/


/*------------Product Section Css-----------------*/

/*------------Product Section Css Ends-----------------*/


/*-------------Categories Section CSs--------------------*/

.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box {
    padding: 3rem 2rem;
    border-radius: .5rem;
    background:#14141b 0% 0% no-repeat padding-box;
    ;
    /* box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 1); */
    outline: .1rem solid rgba(0, 0, 0, .1);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover {
    outline: .2rem solid rgba(255, 200, 3, 0.84);
    outline-offset: 0rem;
}

.categories .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.categories .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
    line-height: 1.8;
}

.categories .box-container .box p {
    font-size: 1.7rem;
    color: #666;
    line-height: 1.8;
    padding: 1rem 0;
}


/*-------------Categories Section CSs--------------------*/



/*--------Review Section CSS Ends--------*/



/*----------Blog Section CSS Ends-----------*/


/*-------------Footer Section CSS------------------*/

.footer {
    background: #26282f 0% 0% no-repeat padding-box;;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
}

.footer .box-container .box h3 i {
    color: rgba(255, 200, 3, 0.84);
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0; 
}

.footer .box-container .box .links i {
    color: rgba(255, 200, 3, 0.84);
    padding-right: .5rem;
}

.footer .box-container .box p {
    line-height: 1.8;
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box .share a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: #fff;
    margin-right: .2rem;
    background: #26282f 0% 0% no-repeat padding-box;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: #26282f 0% 0% no-repeat padding-box;
    color: #fff;
}

.footer .box-container .box .email {
    width: 100%;
    margin: 4rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #26282f 0% 0% no-repeat padding-box;
    font-size: 1.6rem;
    color: #fff;
    text-transform: none;
}

.footer .box-container .box .payment-img {
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #fff;
    border-top: .2rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: rgba(255, 200, 3, 0.84);
}


/*-------------Footer Section CSS Ends------------------*/


/*-----Media Queries--------------------*/

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-wdith:768px) {
    #menu-btn {
        display: inline-block;
    }
    .header .search-form {
        width: 90%;
    }
    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 1);
        border-radius: .5rem;
        background: #fff;
    }
    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }
    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .heading {
        font-size: 2.5rem;
    }
    .footer {
        text-align: center;
    }
    .footer .box-container .box .payment-img {
        margin: 2rem auto;
    }
}