* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.container-all {
    position: relative;
    width: 100%;
    color:#d4d4d4;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #17171b 0% 0% no-repeat padding-box;
    /* background: linear-gradient(45deg, #47cebe, #ef4a82); */
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    color: #d4d4d4;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
}

.sidebar ul li:hover {
    /* color: #444; */
    background:  #B59F55;
}

.sidebar ul li:first-child {
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 1px solid #B59F55;
}
.sidebar ul li:first-child i{
    color: #B59F55;
}
.sidebar ul li:first-child:hover {
    background: none;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar ul li a i {
    min-width: 60px;
    font-size: 24px;
    text-align: center;
}

.sidebar .title {
    padding: 0 10px;
    font-size: 20px;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    min-height: 100vh;
    left: 300px;
    /* background: #f5f5f5; */
    background: #26282f 0% 0% no-repeat padding-box;
}
/* ----------------  NavBar --------------------------- */
/* .top-bar {
    position: fixed;
    height: 60px;
    width: calc(100% - 300px);
    background: #26282f 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-columns: 10fr 0.4fr 1fr;
    grid-gap: 5px;
    align-items: center;
    color: #d4d4d4;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 #B59F55;
    z-index: 1;
}

.top-bar .search {
    position: relative;
    max-width: 400px;
}

.search input {
    width: 100%;
    min-width: 128px;
    height: 40px;
    padding: 0 40px;
    font-size: 16px;
    outline: none;
    border-radius:8px ;
    border: none;
    background: #f5f5f5;
}

.search i {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #17171b;
    cursor: pointer;
} */
/* ---V2 ---- */


.top-bar{ 
     /* position: absolute; */
    /*top: 0;
    left: 0;
    width: 100%; */
    position: fixed;
    /* height: 60px; */
    width: calc(100% - 300px);
    background: #26282f 0% 0% no-repeat padding-box;
    display: grid;
    grid-template-columns: 10fr 0.4fr 1fr;
    grid-gap: 5px;
    align-items: center;
    height: 4.5rem;
    box-shadow: 0 4px 8px 0 #B59F55;
    z-index: 1;
  }
  
  .top-bar .navbar{
    width: 100%;
    /* background: rgba(7, 0, 0, 0.82); */
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    /* padding: 10px 25px; */
    margin-right: 0;
    border-radius: 5px;
  }
  .top-bar .navbar ul{
    list-style:none;
  }
  .top-bar .navbar ul li a{
    color: #26282f;
    
  }
  .top-bar .navbar ul li .text{
    display:flex;
    margin-right: -70px;
    /* justify-content: space-between; */
    color: #d9a400;
  }
  .top-bar .navbar ul li .text span{
    margin: 0 45px;
    font-size: small;
    color: #B59F55;
  }
  .top-bar .navbar ul li .text p{
    font-weight: bold;
    color: #d4d4d4;
  }
  .profil {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
  }
  .top-bar .navbar ul li .text .profil i{
    margin-left: 13px;
    margin-top: 13px;
  }
  /* 
  .top-bar .navbar .left ul, */
  .top-bar .navbar .right ul li a{
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 40px;
  }
  /* 
  .top-bar .navbar .left ul li, */
  
  
  .top-bar .navbar .right a{
    text-align: right;
  }
  
  .top-bar .navbar .right a span{
    font-size: 10px;
  }
  
  .top-bar .navbar .right ul li{
    position: relative;
  }
  
  .top-bar .navbar .right ul li .dropdown{
    position: absolute;
    top: 65px;
    right: -120px;
    background: #d4d4d4;
    /* background: #26282f 0% 0% no-repeat padding-box; */
    padding: 10px 25px;
    border-radius: 5px;
    display: none;
  }
  .top-bar .navbar .right ul li .dropdown li a:hover{
    color: #B59F55;  
  }
  
  .top-bar .navbar .right ul li .dropdown .fas{
    margin-right: 10px;
    /* margin-right: -94px; */

  }
  
  .top-bar .navbar .right ul li .dropdown:before{
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
  }
  
  .top-bar .navbar .right ul li.active .dropdown{
    display: block;
  }


/* ------------------------- */
.user {
    position: relative;
    width: 50px;
    height: 50px;
}

.img {
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover; 
}

.cards {
    margin-top: 2rem;
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.cards .card {
    background: #17171b 0% 0% no-repeat padding-box;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}

.card-name {
    color: #B59F55;
    font-weight: 600;
}

.icon-box ,.user i {
    font-size: 45px;
    color:#B59F55;
}
.user i {
    margin-top: 2px;
    font-size: 35px;
    color: #B59F55;
}

.tables {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    grid-gap: 20px;
    align-items: self-start;
    padding: 0 20px 20px 20px;
}
/* ------------ admin ------------------ */
.admins-visiting{
    width: 90%;
    margin: auto;
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr; */
    
    grid-gap: 20px;
    align-items: self-start;
    padding: 8rem 20px 20px 20px;
}
.admins{
    min-height: auto;
    /* background: #fff; */
    background: #17171b 0% 0% no-repeat padding-box;
    padding: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* ---------categories --------------- */
.table-categories{
    width: 90%;
    margin: auto;
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr; */
    grid-gap: 20px;
    align-items: self-start;
    padding: 8rem 20px 20px 20px;
}
.categories-visiting {
    min-height: auto;
    /* background: #fff; */
    background: #17171b 0% 0% no-repeat padding-box;
    padding: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.categories-visiting  .visiting td{
    height: auto;
}
.img-categ-small {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5%;
    overflow: hidden;
}
.img-categ-form{
    position: relative;
    width: 180px;
    height: 180px;
    margin-bottom: 2rem;
    border-radius: 5%;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.884);
    overflow: hidden;
}

/* ------------------ */
.img-box-small {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.last-appointments,
.doctor-visiting{
    min-height: auto;
    /* background: #fff; */
    background: #17171b 0% 0% no-repeat padding-box;
    padding: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
td a{
    text-decoration: none;
}


.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #d4d4d4;
}

.btn-view {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    background: #165ab8;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
.btn-view:hover{
    background-color: #3144ac;
    box-shadow: 0 5px 15px 0  rgba(49, 120, 244, 0.84);
}

table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

thead td {
    font-weight: 600;
    color: #fff;
}

table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tbody tr:hover {
    background: #444;
    color: #fff;
}

table tbody tr:last-child {
    border-bottom: none;
}

td {
    padding: 9px 5px;
}

td i {
    padding: 7px;
    color: #fff;
    border-radius: 50px;
}

.last-appointments table tbody td:last-child {
    white-space: nowrap;
}

.fa-eye {
    background: #328dbe;
}

.fa-edit {
    background: #fb7500;
}

.fa-trash-alt {
    background: #f50d25;
}

/* -------------- user ------------------- */


.card-user {
    /* display: inline-block; */
    width: 50%;
    height: auto;
    border-radius: 10px;
    /*border: 1px solid black;*/
    background-color:rgba(0, 0, 0, .3);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 5px;
    box-shadow: 1px 4px 8px #B59F55;
}

.card-user .card-header {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: #B59F55;
    ;
    padding: 20px 10px 0px 10px;
}

.card-user .card-body {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.card-user .card-footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

hr {
    border: .05px solid #B59F55;
    margin: 10px 20px;
}

form {
    width: 100%;
}

.login-form,
.password-form ,
.date-form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
}
.login-form img {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.884);
}
.login-form .radio{
    margin:5px 15px;
}
.login-form .radio .r2{
    margin-left: 15px;
}
.date-form .date-info{
    
    display: flex;
    
}
.date-form input[type='date']{
    width: 150px;
}
.date-form input[type='number']{
    width: 60px;
    color: #17171b;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #d4d4d4;
}
.date-form span{
    font-weight: bold;
    margin-left: 5px;
    color: #d9a400;
   
}
.date-form input[type='date'] {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 10px;
    
    padding-right: 5px;
}
.password-form {
    position: relative;
}

label {
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: arial;
}

input[type='text'],input[type='email'],input[type='select'],input[type='password'],input[type='date'],select {
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 10px;
    padding-right: 50px;
}


.eye {
    /* display: block; */
    width: 30px;
    height: 30px;
    color: black;
    position: absolute;
    top: 41px;
    right: 10px;
}
.btn-warning{
    position: relative;
    padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px;
    color: #fff;
    background-color: #ffc100;
    border: 0;
    overflow: hidden;
    transition: 0.2s;
}
.btn-warning input[type="file"]{
    cursor: pointer;
    position: absolute;
    left:0%;
    top:0%;
    transform: scale(5);
    opacity: 0;
}
.btn-warning:hover{
    background: #d9a400;
}

.btn {
    width: 100px;
    border-radius: 5px;
    color: white;
    margin-top: 40px;
    margin-bottom: -70px;
    font-weight: bold;
    padding: 13px 5px ;
    border: 0;
    text-align: center;
    transition: 0.2s;
}

.btn-primary {
    background-color:hsl(227deg 90% 54%);
}

.btn:hover {
    cursor: pointer;
    background-color: hsl(227deg 76% 28%);
    /* box-shadow: 1px 3px 5px rgba(0, 0, 255, 0.6); */
}

.alert {
    position: relative;
    background-color: hsla(10, 100%, 70%, .5);
    border-left: 5px solid hsl(10, 100%, 30%);
    padding: 3px;
    border-radius: 5px;
}

.alert h4 {
    position: absolute;
    text-align: center;
    font-weight: bold;
    opacity: .8;
    top: -10px;
    left: 0;
    padding-left: 2px;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.alert p {
    padding-left: 2px;
    margin-top: 30px;
    font-style: italic;
}

.d-none {
    display: none;
}

/* @media screen and (min-width: 400px) {
    .card-user {
        width: 75%;
        margin-left: 12.5%;
        margin-top: 20px;
    }
}

@media screen and (min-width: 600px) {
    .card-user {
        width: 50%;
        margin-left: 25%;
        margin-top: 50px;
    }
} */
/* --------------- */
@media(max-width:1090px) {
    .sidebar {
        width: 60px;
    }
    .main {
        width: calc(100% - 60px);
        left: 60px;
    }
    .top-bar {
        width: calc(100% - 60px);
    }
}

@media(max-width:860px) {
    .date-form .date-info{
        display: flex;
        flex-direction: column;
    }
    .date{
        margin-top: 5px;
    }
    .cards {
        grid-template-columns: repeat(2, 1.2fr);
    }
    .tables {
        grid-template-columns: 1fr;
    }
}

@media(max-width:530px) {
    .cards {
        grid-template-columns: 1fr;
    }
    .last-appointments td:nth-child(3) {
        display: none;
    }
}

@media(max-width:420px) {
    .last-appointments,
    .doctor-visiting,
    .categories-visiting {
        font-size: 70%;
        padding: 10px;
        min-height: 300px;
    }
    .cards,
    .tables {
        padding: 10px;
    }
    .search input {
        padding: 0 10px;
    }
    .user {
        width: 40px;
        height: 40px;
    }
}